#username {
    text-align: -webkit-center;
}
#passwd {
    text-align: -webkit-center;
}

#loginTitle{
    text-align: center;
    font-size: 2rem;
}

#loginForm {
    width:20%;
    text-align: center;
    position:fixed;
    top: 20%;
    left: 40%;
}

.form-group {
    text-align: center;
}

.modalPic {
    max-width: 20rem;
}
